@import "maplibre-gl/dist/maplibre-gl.css";

#map {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* override some maplibre classes */
.maplibregl-popup-content {
  background-color: transparent;
  padding: 0px;
  box-shadow: 0;
}
.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
  border-top-color: transparent;
}
.maplibregl-popup-close-button:hover {
  background-color: inherit;
  color: inherit;
}
